<nav class="navbar header">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="Logo" width="auto" height="24" class="d-inline-block align-text-top">
    </a>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/templates">Templates</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/product">Products</a>
      </li>
    </ul>

  </div>
</nav>