.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.image-container img{
    width: 100px;
}

.product-name h6 {
    font-size: 18px;
    font-weight: 600;
}

.detailBox .details {
    font-size: 16px;
    font-weight: 600;
}

.changeBackground {
    background-color: #EAE7B1;
    border-radius: 6px;
}