<app-header></app-header>

<div class="container py-4" *ngFor="let item of products">
    
    <div class="product-container">
        <div class="image-container">
            <img [src]="item.images" alt="">
        </div>

        <div>
            <div class="product-name">
                <h6> {{item.title}} </h6>
            </div>

            <div class="detailBox d-flex justify-content-around">
                <div class="details"> {{item.available}} </div>
                <div class="details ms-5">Price: {{item.price}} </div>
                <div class="details ms-5">Color: {{item.color}} </div>
            </div>
        </div>

        <div class="option">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-warning ms-3">Buy Now</button>
        </div>

    </div>

</div>